/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  text-align: center;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}
.button-container {
  justify-content: right;
  align-items: center;
}
a,
a:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: #88e23b;
  text-decoration: none;
}
.title {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
  color: #88e23b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
section,
mat-card-title-group {
  padding-block: 0.5rem;
}
.character-list {
  border: solid 1px #88e23b;
}
.character-list:hover {
  background-color: #88e23b;
  background-image: none;
  color: #000000;
}
mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #88e23b;
  text-align: center;
  font-size: 1, 5rem;
}
.bg-img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

  mat-card {
    margin: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  mat-card-title{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 1rem;
    color: #ebe480;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .card {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .card > mat-card {
    width: 150px;
    height: auto;
    margin: 8px;
  }
